* {
  margin:0;
  padding:0;
}

html, body {
  height:100%;
  width:100%;
  color: #454d66;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #1B3041;
}

h1 {
  font-family: 'Lobster', serif;
  font-weight: bold;
  color: #C72C41;
  font-size: 55px;
  line-height: 1.4;
}

h2 {
  color: #C04537;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  color: #F8B739;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v21/neILzCirqoswsqX9zoKmM4MwWJU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* navbar */

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.bold {
  font-weight: bold;
}

#logo2, #logo3, #logo4 {
  display: none;
}

.navbar {
  padding-right: 8px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  padding-right: 16px;
}

/* nav mobile view */

@media only screen and (max-width: 600px) {
  nav {
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    width: 100%;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }

  #logo1, #logo2, #logo3, #logo4 {
    display: inline-block;
    height: 35px;
    width: auto;
  }

  ul {
    display: none;
  }

  .title span {
    display: none;
  }
}

/* mainbody */
.main {
  position: relative;
  top: 64px;
  margin: 0;
}

/* mainbanner */
.mainbanner {
  display: flex;
  justify-content: space-around;
  padding: 32px 24px;
  background-color: #eeeeee;
}

.mainbanner .imagecontainer {
  width: 60%;
  height: auto;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.maintitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.intro {
  padding: 20px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c72c41;
  width: 80%;
  height: auto;
  color: white;
  padding: 8px 0px;
  font-size: 20px;
}

/* news */
.news {
  display: flex;
}

.left {
  padding: 32px 24px;
  width: 60%;
}

.left .imagecontainer {
  margin: 0;
  width: 100%;
}

.left h2 {
  padding: 32px 0 24px 0;
  text-align: center;
}

#signature {
  font-weight: bold;
  padding: 16px 0 0 0;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
}

.info {
  display: flex;
  padding: 16px;

}

.info .imagecontainer {
  width: 35%;
  height: auto;
}

.infocontainer {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 16px;
}

.infocontainer * {
  margin: 4px 0;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}


/* Start learning */
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

.subtitle {
  padding: 32px 0 0 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.learning .subtitle {
  padding-bottom: 32px;
}

.courses {
  padding: 0 72px 32px 72px;
}

.line1, .line2 {
  display: flex;
  justify-content: space-between;
  margin: 0 -16px;
}

.course {
  margin: 0 16px 16px 16px;
  background-color: white;
  width: 30%;
}

.course .infocontainer {
  width: 87%;
  padding: 16px 16px 24px 16px;
}

/* Thesis */
.theses {
  display: flex;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
}

.left h3 {
  padding: 24px 0px 8px 0px;
}

/* footer */
footer {
  display: flex;
  padding: 16px 24px 24px 24px;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}
