* {
  margin:0;
  padding:0;
}

html, body {
  height:100%;
  width:100%;
  color: #454d66;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

a {
  color: #1B3041;
}

h1 {
  font-family: 'Permanent Marker', serif;
  font-weight: bold;
  color: #C72C41;
  font-size: 50px;
  line-height: 1.4;
  text-shadow: 2px 1px 2px grey;
}

h2 {
  color: #C04537;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Changa','Quicksand',serif;
}

h3 {
  color: #F8B739;
  font-weight: bold;
  font-size: 20px;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v8/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cf5b6jlg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Changa'), local('Changa-Regular'), url(https://fonts.gstatic.com/s/changa/v6/2-cm9JNi2YuVOUckZpy-eOz1pQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* navbar */

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.bold {
  font-weight: bold;
}

#logo2, #logo3, #logo4 {
  display: none;
}

.navbar {
  padding-right: 8px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  padding-right: 16px;
}

li:hover {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  nav {
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    width: 100%;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }

  #logo1, #logo2, #logo3, #logo4 {
    display: inline-block;
    height: 35px;
    width: auto;
  }

  ul {
    display: none;
  }

  .title span {
    display: none;
  }
}

/* mainbody */
.main {
  position: relative;
  top: 64px;
  margin: 0;
}

/* mainbanner */
.mainbanner {
  display: flex;
  padding: 32px 24px;
  background-color: #eeeeee;
}

.mainbanner .imagecontainer {
  width: 60%;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.maintitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  width: 36%;
}

.intro {
  padding: 20px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c72c41;
  width: 80%;
  height: auto;
  color: white;
  padding: 8px 0px;
  font-size: 20px;
}

.button:hover {
  background-color: #a52335;
}

@media only screen and (max-width: 768px) {
  .mainbanner {
    padding: 0;
    flex-direction: column;
  }
  .mainbanner .imagecontainer {
    width: auto;
    height: auto;
  }
  .maintitle {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h1 {
    font-size: 38px;
    padding-bottom: 12px;
  }
  .button {
    margin-top: 4px;
    width: 100%;
  }
}

/* news */
.news {
  display: flex;
}

.left {
  padding: 32px 24px;
  width: 60%;
}

.left .imagecontainer {
  margin: 0;
  width: 100%;
}

.left h2 {
  padding: 32px 0 24px 0;
  text-align: center;
}

#signature {
  font-weight: bold;
  padding: 16px 0 0 0;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
}

.info {
  display: flex;
  padding: 16px;
}

.info .imagecontainer {
  width: 35%;
  height: auto;
}

.infocontainer {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 16px;
}

.mobile {
  display: none;
}

.infocontainer * {
  margin: 4px 0;
}

.info:hover {
  background-color: #eeeeee;
  font-weight: 700;
  transition: all 0.65s;
}

@media only screen and (max-width: 768px) {
  .news {
    width: 100%;
    margin-top: -32px;
  }

  .news .left {
    display: none;
  }

  .news .right {
    width: 100%;
    padding: 16px 16px 32px 16px;
  }

  .normal {
    display: none;
  }

  .mobile {
    display: block;
  }

  .info .imagecontainer, .infocontainer {
    width: 100%;
    height: auto;
  }

  .info {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    /* I don't think it looks good with 64px margin, so I changed it to 32px. */
  }

}

/* Start learning */
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

.subtitle {
  padding: 32px 0 0 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.learning .subtitle {
  padding-bottom: 16px;
}

.courses {
  padding: 0 72px 32px 72px;
}

.line1, .line2 {
  display: flex;
  justify-content: space-between;
  margin: 0 -16px;
}

.course {
  margin: 16px;
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.course:hover {
  box-shadow: 3px 3px 6px grey;
  transition: all 0.6s;
}

.course .infocontainer {
  padding: 16px 16px 24px 16px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .line1, .line2 {
    display: flex;
    flex-direction: column;
  }

  .learning {
    padding: 0 16px;
  }

  .course {
    width: auto;
    margin: 0px 16px 8px 16px;
  }

  .courses {
    padding: 0 16px 24px 16px;
    width: 100%;
    margin: 0;
  }
}

/* Thesis */
.theses {
  display: flex;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
}

.left h3 {
  padding: 24px 0px 8px 0px;
}

@media only screen and (max-width: 768px) {
  .subtitle {
    padding-bottom: 16px;
  }

  .theses .left {
    width: 100%;
    padding: 0 0 24px 0;
  }
}

/* footer */
footer {
  display: flex;
  padding: 16px 24px 24px 24px;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-bottom: 16px;
  }
}
